.screen-border {
    border: 10px solid slategray;
    display: flex;
    justify-content: center;
}

.screen {
}

.device {
    background-color: darkgray;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 3px 5px 5px #8c8285, inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.keyboard {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cartridge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.help {
    position: fixed;
    top: 20px;
    right: 20px;
}

.title {
    font-family: 'Bebas Neue', cursive;
    font-size: 150px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5em;
    background-color: antiquewhite !important;
    /*font-size: 1.2rem !important;*/
}

.heavy {
    font-family: 'Bebas Neue', cursive !important;
}

footer {
    position: fixed;
    bottom: 0;
    left: 8px;
    right: 0;
    height: 30px;
}

.gameHelp {
    margin-top: 20px;
    border: darksalmon solid 5px;
    border-radius: 15px;
    padding: 10px;
    width: 660px;
    height: 100%;
    box-shadow: 3px 5px 5px #8c8285;
}